<ng-template #addhouse>
    
<div class="container">
    <mat-card>
        <mat-card-title>
            <h1>HOUSES</h1>
        </mat-card-title>
        <mat-card-content>
            <form [formGroup]="houseForm">
                <div class="col">
                    <div class="row">
                        <label>house_owner</label>
                        <input type="text" class="form-control" formControlName="house_owner" >
                    </div>
                    <div class="row">
                        <label>Location</label>
                        <input type="text" class="form-control" formControlName="location" >
                    </div>
                    <div class="row">
                        <label>House_no</label>
                        <input type="number" class="form-control" formControlName="house_no" >
                    </div>
                    <div class="row">
                        <label>categories</label>
                        <input type="text"  class="form-control" formControlName="category" >
                    </div>
                    <div class="row">
                        <label>price per month</label>
                        <input type="number"  class="form-control" formControlName="price_per_month" >
                    </div>
                    <div class="form-group">
                        <label>House Image</label>
                        <p><input formControlName="image" id="file"type="file" class="form-control-file" (change)="onFileChanged($event)"></p>
                        

                    </div>
                   
                </div>
                <div class="row-mt-3">
                    <button class="btn btn-success mt-3" (click)="submit()">submit</button>

                </div>
            </form>
        </mat-card-content>
    </mat-card>
    
    </div>  
</ng-template>  


<mat-card>
    <mat-card-title>
        Houses
    </mat-card-title>
    
    <mat-card-content>
    <button mat-raised-button class="button" (click)="open()">Add Houses</button>
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">house No:</th>
            <th scope="col">location</th>
            <th scope="col">house owner </th>
            <th scope="col">Category</th>
            <th scope="col">Price per month</th>
            <th scope="col">Image</th>
            <th scope="col">Action</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let house of houses">
            <td>{{house.house_no}}</td>
            <td>{{house.location}}</td>
            <td>{{house.house_owner}}</td>
            <td>{{house.category}}</td>
            <td>{{house.price_per_month}}</td>
            <td><img [src]="'data:image/jpeg;base64,'+house.image" alt="" style="width: 65px;height: 65px;"></td>
            <td><button class="btn btn-danger" (click)="delete(house.house_id)">delete</button> &nbsp;<button class="btn btn-success" (click)="getbyid(house.house_id)" >update</button></td>
           
          </tr>
         
        </tbody>
      </table>
    </mat-card-content>                                                 
</mat-card>

<ng-template #updateform>
    <div class="container">
        <mat-card>
            <mat-card-title>
                <h1>HOUSES</h1>
            </mat-card-title>
            <mat-card-content>
                <form [formGroup]="updateFormGroup">
                    <div class="col">
                        <div class="row">
                            <label>house_owner</label>
                            <input type="text" class="form-control" formControlName="house_owner" >
                        </div>
                        <div class="row">
                            <label>Location</label>
                            <input type="text" class="form-control" formControlName="location" >
                        </div>
                        <div class="row">
                            <label>House_no</label>
                            <input type="number" class="form-control" formControlName="house_no" >
                        </div>
                        <div class="row">
                            <label>categories</label>
                            <input type="text"  class="form-control" formControlName="category" >
                        </div>
                        <div class="row">
                            <label>price per month</label>
                            <input type="number"  class="form-control" formControlName="price_per_month" >
                        </div>
                        <div class="form-group">
                            <label>House Image</label>
                            <p><input formControlName="image" id="file"type="file" class="form-control-file" (change)="onFileChanged($event)"></p>
                            
    
                        </div>
                       
                    </div>
                    <div class="row-mt-3">
                        <button class="btn btn-success mt-3" (click)="update()">submit</button>
    
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
        
        </div>  
</ng-template>