<div class="container">
    <mat-card>
    <mat-card-title>
    <h2>RENTERS DETAILS</h2>
</mat-card-title>
<mat-card-content>
<form>
    <div class="col">
        <div class="row">
            <label>Start-Date</label>
            <div class="form-group">
                <input type="text" name="start-date" class="form-control">
            </div>
        </div>
        <div class="row">
            <label>End-Date</label>
            <div class="form-group">
                <input type="text" name="end-date" class="form-control">
            </div>
        </div>
        <div class="row">
            <label>Custome_ID</label>
            <div class="form-group">
                <input type="text" name="customer_id" class="form-control">
            </div>
        </div>
        <div class="row">
            <label>HOUSE_ID</label>
            <div class="form-group">
                <input type="text" name="house_id" class="form-control">
            </div>
        </div>
    </div>
</form>
</mat-card-content>
</mat-card>
</div>
