.gradient-custom {
    /* fallback for old browsers */
    background: #f15bea;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(245, 177, 235), rgb(223, 117, 214));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(135, 220, 223), rgb(178, 190, 190))
    }