<mat-card>
    <mat-card-title>
        Customer's Table
    </mat-card-title>
    <mat-card-content>
     
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Firstname</th>
                    <th scope="col">Lastname</th>
                    <th scope="col">StartDate</th>
                    <th scope="col">EndDate</th>
                    <th scope="col">Image</th>
                    <th scope="col">Location</th>
                    <th scope="col">Owner</th>
                    <th scope="col">Number_Ho</th>
                    <th scope="col">Category</th>
                    <th scope="col">Price_per_month</th>
                </tr>
            </thead>
            <!-- <tbody>
                <tr *ngFor="let customer of custs">
                    <td>{{customer.firstname}}</td>
                    <td>{{customer.lastname}}</td>
                    <td>{{customer.country}}</td>
                    <td>{{customer.address}}</td>
                    <td>{{customer.password}}</td>
                    <td>{{customer.email}}</td>
                    <td>{{customer.phone_no}}</td> -->
                   
                <!-- </tr> -->
            <!-- </tbody> -->
        </table>
    </mat-card-content>
</mat-card>

      
 


