
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark text-light">
        <div class="container-fluid">
          
          <a class="navbar-brand text-white" aria-current="page" routerLink="home">Home</a>
          
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <div>
          <button class="btn btn-success" (click)="viewRent()">View Your Rent</button>&nbsp;
          <button (click)="logout()">logout</button>
          
        </div>
        </div>
        
        </nav>
        <router-outlet></router-outlet>
       
    
        
</body>









