*{
    padding: auto;
    margin: auto;
}
.banner{
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
}
card{
    width: 100%;
    height: 90px;
    max-width: 100%;
    align-items: center;

}